@tailwind base;
@tailwind components;
@tailwind utilities;

/* [hidden] {
    display: none;
} */

:root {
    --foreground-text-default: theme('colors.slate[800]');
    --foreground-headings-default: theme('colors.slate[800]');
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    &.dark {
        --foreground-text-default: theme('colors.slate[200]');
        --foreground-headings-default: theme('colors.white');
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}



* {
    box-sizing: border-box;
}

html {
    margin: 0 !important;
    padding: 0;
    /* font-family: var(--font-main); */
    /* font-family: "Helvetica", sans-serif; */
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    /* display: flex;
  flex-direction: column; */
}

body {
    color: var(--foreground-text-default);
    /* color: rgb(var(--foreground-rgb)); */
    background: rgb(var(--background-start-rgb));
    width: 100vw;
    padding: 0;
    margin: 0 !important;
}

.body-min-height {
    min-height: calc(100vh - 140px);
}

h1 {
    font-family: var(--font-h1-custom);
    /* font-size: 100px !important; */
}

.bg-fixed-size {
    background-size: 450px !important;
}




/* @media (max-width: theme('screens.xxs')) {

        .link-btn-gradient,
        .link-btn-gradient-dark {
            --gradient-direction: top;
        }
    } */


/* .content-bg {

} */


/* .link-btn-gradient {
    /* width: 250px;
    height: 100px; */
/*  background: transparent;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(right, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    color: white;
} */

a,
.dark a {
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    font-weight: 300;
}

@layer base {
    /* a {
        @apply dark:text-indigo-325/[.90] hover:text-indigo-500 dark:hover:text-indigo-325 transition decoration-1 underline-offset-2
    } */

    footer {
        color: theme('colors.slate[200]');
    }

    .content-bg {
        @apply bg-blue-500/[0.05] dark:bg-slate-900/[0.70] backdrop-brightness-125 dark:backdrop-brightness-[1]
    }

    .content-size-x {
        @apply px-[6vw] xs:px-8 lg:px-12 mx-auto xs:max-w-[650px] lg:max-w-[950px] xl:max-w-[1150px]
    }

    .content-px {
        @apply px-[5vw] xs:px-8 lg:px-12
    }

    .content-py {
        @apply py-[5vw] xs:py-8 sm:py-12
    }

    .section-py {
        @apply py-[2rem] xs:py-8 sm:py-12
    }

    .section-mt {
        @apply mt-[16vh]
    }

    .ab-prose {
        @apply prose prose-slate dark:prose-invert max-w-none
    }

    h2.section-header {
        @apply font-normal text-4xl md:text-4xl text-left text-blue-950/[0.85] dark:font-light dark:text-blue-200/90 m-0 pb-4 border-bottom-gradient
    }

    /* .link-btn-base {
        @apply w-full min-w-max py-2 px-3 lg:py-3 md:px-5 xs:min-w-[140px] sm:min-w-[150px] md:min-w-[160px] border xs:border-2 md:border-[3px] text-center font-normal no-underline link-btn-gradient dark:link-btn-gradient-dark hover:bg-slate-100
    } */
    .link-btn-base {
        @apply w-full min-w-max py-3 xxs:py-2 px-3 border-2 dark:border xs:border-2 md:border-[3px] text-center font-normal no-underline link-btn-gradient dark:link-btn-gradient-dark
    }

    .link-btn-base-three-color {
        @apply w-full min-w-max py-2 px-3 border-2 dark:border xs:border-2 md:border-[3px] text-center font-normal no-underline link-btn-gradient-full dark:link-btn-gradient-full-dark
    }

}

/* .visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

@layer components {

    /* .bg-min-width-md {
        min-width: calc(1024px - 13vw);
    } */

    .bg-right-img-y {
        /* top: 400px; */

        top: calc(1 / 1vw);
    }

    /* Icon grids */

    .list-grid-one-col {
        display: grid;
        row-gap: 1.3rem;
        grid-template-columns: repeat(1, minmax(max-content, 1fr));
    }

    .list-grid-auto {
        --min-col-w: 75px;
        display: grid;
        row-gap: 1.3rem;
        grid-template-columns: repeat(auto-fit, minmax(var(--min-col-w), 1fr));
    }

    .list-grid-auto.tech {
        --min-col-w: 65px;
        --repeat-col: auto-fit;

    }

    .list-grid-auto.btn-group {
        --min-col-w: 100px;
    }



    .border-bottom-gradient {
        --c1: theme('colors.teal[500]');
        --c2: theme('colors.sky[500]');
        --c3: theme('colors.indigo[600]');

        border-bottom: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(right, var(--c1) 0%, var(--c2), var(--c3), transparent 100%);
        -webkit-border-image: -webkit-linear-gradient(right, var(--c1) 0%, var(--c2), var(--c3), transparent 100%);
        border-image: linear-gradient(to right, var(--c1) 0%, var(--c2), var(--c3), transparent 100%);
        border-image-slice: 1;
    }

    .border-bottom-gradient-dark {
        --c1: theme('colors.teal[600]');
        --c2: theme('colors.sky[600]');
        --c3: theme('colors.indigo[700]');
    }


    /* Buttons */

    .link-btn-gradient,
    .link-btn-gradient-dark {
        --gradient-direction: right;
        --c1: theme('colors.teal[600]');
        --c2: theme('colors.indigo[700]');

        /* border-width: 3px; */
        border-style: solid;
        border-color: transparent;
        -moz-border-image: -moz-linear-gradient(var(--gradient-direction), var(--c1) 0%, var(--c2) 100%);
        -webkit-border-image: -webkit-linear-gradient(var(--gradient-direction), var(--c1) 0%, var(--c2) 100%);
        border-image: linear-gradient(to var(--gradient-direction), var(--c1) 0%, var(--c2) 100%);
        border-image-slice: 1;

        -webkit-background-image: -webkit-linear-gradient(var(--gradient-direction), var(--c1) 0%, var(--c2) 100%);
        background-image: linear-gradient(to var(--gradient-direction), var(--c1) 0%, var(--c2) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    /* @media (max-width: theme('screens.xxs')) {

        .link-btn-gradient,
        .link-btn-gradient-dark {
            --gradient-direction: top;
        }
    } */

    .link-btn-gradient-full,
    .link-btn-gradient-full-dark {
        --gradient-direction: right;
        --c1: theme('colors.teal[500]');
        --c2: theme('colors.sky[500]');
        --c3: theme('colors.indigo[600]');

        /* border-width: 3px; */
        border-style: solid;
        border-color: transparent;
        -moz-border-image: -moz-linear-gradient(right, var(--c1) 0%, var(--c2), var(--c3) 100%);
        -webkit-border-image: -webkit-linear-gradient(right, var(--c1) 0%, var(--c2), var(--c3) 100%);
        border-image: linear-gradient(to right, var(--c1) 0%, var(--c2), var(--c3) 100%);
        border-image-slice: 1;

        -webkit-background-image: -webkit-linear-gradient(right, var(--c1) 0%, var(--c2), var(--c3) 100%);
        background-image: linear-gradient(to right, var(--c1) 0%, var(--c2), var(--c3) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .link-btn-gradient,
    .link-btn-gradient-dark,
    .link-btn-gradient-full,
    .link-btn-gradient-full-dark {
        &:hover {
            --shadow-color: theme('colors.slate[200]');
            opacity: 90%;
            box-shadow: inset 0px 0px 15px 0px var(--shadow-color);
        }
    }

    /* .link-btn-gradient,
    .link-btn-gradient-full {
        &:hover {
            --shadow-color: theme('colors.slate.300');
        }
    } */

    .link-btn-gradient-dark,
    .link-btn-gradient-full-dark {
        &:hover {
            opacity: 100%;
            --shadow-color: rgba(255, 255, 255, 0.05);
            box-shadow: inset 0px 0px 25px 0px var(--shadow-color);
        }
    }

    .link-btn-gradient-full {
        &:hover {
            --c1: theme('colors.teal[400]');
            --c2: theme('colors.sky[400]');
            --c3: theme('colors.indigo[500]');
        }
    }

    .link-btn-gradient-full-dark {
        &:hover {
            --c1: theme('colors.teal[300]');
            --c2: theme('colors.sky[300]');
            --c3: theme('colors.indigo[400]');
        }
    }

    /* .link-btn-gradient-dark:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: theme('colors.slate[100]');
    } */


    .link-btn-gradient.teal-ltblue {
        --c1: theme('colors.teal[500]');
        --c2: theme('colors.sky[500]');

        &:hover {
            --c1: theme('colors.teal[600]');
            --c2: theme('colors.sky[600]');
        }
    }

    .link-btn-gradient.ltblue-blue {
        --c1: theme('colors.sky[500]');
        --c2: theme('colors.blue[500]');

        &:hover {
            --c1: theme('colors.sky[600]');
            --c2: theme('colors.blue[600]');
        }
    }

    .link-btn-gradient.blue-purple {
        --c1: theme('colors.blue[500]');
        --c2: theme('colors.indigo[500]');

        &:hover {
            --c1: theme('colors.blue[600]');
            --c2: theme('colors.indigo[600]');
        }
    }




    .link-btn-gradient-dark.default {
        --c1: theme('colors.sky[500]');
        --c2: theme('colors.indigo[400]');

        &:hover {
            --c1: theme('colors.sky[400]');
            --c2: theme('colors.indigo[300]');
        }
    }

    .link-btn-gradient-dark.teal-ltblue {
        --c1: theme('colors.teal[400]');
        --c2: theme('colors.sky[500]');

        &:hover {
            --c1: theme('colors.teal[300]');
            --c2: theme('colors.sky[400]');
        }
    }

    .link-btn-gradient-dark.ltblue-blue {
        --c1: theme('colors.sky[400]');
        --c2: theme('colors.blue[500]');

        &:hover {
            --c1: theme('colors.sky[300]');
            --c2: theme('colors.blue[400]');
        }
    }

    .link-btn-gradient-dark.blue-purple {
        --c1: theme('colors.blue[500]');
        --c2: theme('colors.indigo[400]');

        &:hover {
            --c1: theme('colors.blue[400]');
            --c2: theme('colors.indigo[300]');
        }
    }


    /* Slider button */

    /* The switch - the box around the slider */
    .switch,
    .slider {
        --sliderSize: 20px;
        --sliderMargin: 3px;
        --sliderMarginDoubled: calc(var(--sliderMargin) * 2);
        --sliderSizeDoubled: calc(var(--sliderSize) * 2);

    }

    .switch {
        /* position: relative; */
        display: inline-block;
        width: calc(var(--sliderSizeDoubled) + var(--sliderMarginDoubled));
        height: calc(var(--sliderSize) + var(--sliderMarginDoubled));
    }

    /* The slider */
    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background-color: theme('colors.gray.500'); */
        border-radius: calc(var(--sliderSize) + var(--sliderMarginDoubled));
        border-width: var(--sliderMargin);
        border-style: solid;
        /* border: 4px solid green; */

        -webkit-transition: .4s;
        transition: .4s;
    }

    .switch .slider:before {
        position: absolute;
        content: "";
        height: calc(var(--sliderSize) - 2px);
        width: calc(var(--sliderSize) - 2px);
        left: 1px;
        bottom: 1px;
        /* background-color: theme('colors.gray.200'); */
        border-radius: 50%;

        -webkit-transition: .4s;
        transition: .4s;
    }

    /* 
  button:focus+.slider {
    box-shadow: 0 0 1px theme('colors.sky.500');
  } */

    /* [aria-pressed='true'] .slider {
    background-color: theme('colors.sky.500');
  } */

    [aria-pressed='true'] .slider:before {
        transform: translateX(var(--sliderSize));
        -webkit-transform: translateX(var(--sliderSize));
        -ms-transform: translateX(var(--sliderSize));
    }

}


/* Projects section */

/* .grid-5by1 {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-template-rows: auto;
} */

#projects {
    --h3-font-size: calc(var(--scale-h-text) * 30px);
    --p-font-size: calc(var(--scale-body-text) * 16px);
    --scale-h-text: 1;
    --scale-body-text: 1;
    --scale-card-text: .75;

    --bd-radius: 15px;
    --card-bd-radius: 12px;

    --text-bd: 6%;

    --outer-margin-lr: calc(var(--text-margin-lr) - var(--text-bd));
    --outer-margin-t: calc(var(--text-margin-t) - var(--text-bd));
    --outer-margin-b: calc(var(--text-margin-b) - var(--text-bd));

    --about-adjust-bd: -2%;
    --projects-adjust-bd: -3%;

    --black: #0e0e0e;
    --dark-blue2-50: #13024b8a;
}

/* #projects .projects-container {
  grid-area: 1 / 2 / -1 / -2;

  margin-top: calc(var(--outer-margin-t) - var(--about-adjust-bd));
  margin-bottom: calc(var(--outer-margin-b) - var(--about-adjust-bd));

  min-height: 84vh;
  min-width: 75vw;

  align-self: flex-start;

  background: #121212d0;
  border-radius: var(--bd-radius);
} */

#projects .cards-container {
    align-self: center;
    /* min-height: 90%; */
    /* min-width: 90%; */
    /* max-width: 95%; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 3em;

    padding: calc(var(--text-bd) + var(--projects-adjust-bd));
    justify-content: center;
}

#projects .cards-container div.mycard {
    min-width: 100%;
    min-height: 18vh;
    justify-self: center;
    z-index: 10;

    background: radial-gradient(#10023dc0, var(--black)), var(--dark-blue2-50);
    opacity: 95%;
    border-radius: var(--card-bd-radius);
    box-shadow: 0px 6px 12px #2a0d32ba;

    display: flex;
    flex-direction: column;
}

#projects .mycard h3 {
    font-size: calc(var(--scale-card-text) * var(--h3-font-size));
    margin-bottom: .75em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 120%;
}

#projects .mycard p,
.description-container>ul,
.description-container ul * {
    font-size: calc(var(--scale-card-text) * var(--p-font-size));
    margin-top: .7em;
    text-align: left;
}

#projects .mycard ul * {
    margin-top: 0.1em;
}

/* #projects .mycard .img-container {
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    overflow: hidden;
    border-radius: var(--card-bd-radius) var(--card-bd-radius) 0 0; */

/* flex: 2;
    align-self: center; */

/* display: flex;
    justify-content: center;
    align-items: flex-end; */
/* } */

/* #projects .mycard .img-container img {
    object-position: top;

    min-height: 100%;
    min-width: 100%;
    transform: translateY(6%);
    object-fit: cover;
} */

#projects .description-container {
    flex-basis: 120px;
    justify-self: flex-start;

    margin: 1em;
    margin-top: .3em;
}



/* --------- TEMP Archive ---------------


/* @media (prefers-reduced-motion: no-preference) { */

/* .parallax-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: top;
} */

/* .parallax-container { */
/* position: relative; */
/* height: 100%; */

/* transform-style: preserve-3d;
  perspective: 2px;
  perspective-origin: top; */
/* } */

/* 
.parallax-layer-bg {
  transform: translateZ(var(--plx-z)) scale(calc(1 - calc(var(--plx-z) / var(--plx-perspective))));
} */

/* .parallax-layer-bg {
  transform: translateY(-5%)
} */

/* } */
/* 
.parallax-layer-fg {
  transform: translateZ(-2px) scale(2);
} */